@model OnlineMusicStore.Models.Music;

<div class="col">
    <div class="card shadow-sm m-1">
        <img class="rounded card-img-top" src="@Model.ImageUrl" width="100%" height="225" aria-label="@Model.Name" />

        <div class="card-header"><i class="fas fa-music"></i> Music</div>
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            @if (Model.Genre != null)
            {
                <p class="card-text">
                    <small class="text-muted">Genre:</small>
                    <span>@Model.Genre.Name</span>
                </p>
            }
            <p class="card-text">
                <small class="text-muted">Language:</small>
                <span>@Model.Language</span>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a asp-controller="Music" asp-action="Detail" asp-route-id="@Model.Id"
                        class="btn btn-sm btn-outline-dark">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
