@model OnlineMusicStore.ViewModels.SearchViewModel
@{
    ViewData["Title"] = "Search";
    ViewData["IsAllEmpty"] = true;
}

<section>
    <h1 class="display-4">Search Results</h1>
    <p>Search results for: @Model.QueryString</p>
    <hr />
    <div id="accordion">
        @if (Model.Musics != null && Model.Musics.Any())
        {
            ViewData["IsAllEmpty"] = false;
            <section id="musics">
                <div class="card">
                    <div class="card-header" id="headingMusic">
                        <h3 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMusic"
                            aria-expanded="true" aria-controls="collapseMusic">
                                <h3><i class="fas fa-music"></i> Musics</h3>
                            </button>
                        </h3>
                    </div>
                    <div id="collapseMusic" class="collapse show" aria-labelledby="headingMusic" data-parent="#accordion">
                        <div class="card-body">
                            <div class="responsive-card-deck">
                                @foreach (var music in Model.Musics)
                                {
                                    @await Html.PartialAsync("_MusicCard", music)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        @if (Model.Albums != null && Model.Albums.Any())
        {
            ViewData["IsAllEmpty"] = false;
            <section id="albums">
                <div class="card">
                    <div class="card-header" id="headingAlbum">
                        <h3 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAlbum"
                            aria-expanded="true" aria-controls="collapseAlbum">
                                <h3><i class="fas fa-record-vinyl"></i> Albums</h3>
                            </button>
                        </h3>
                    </div>
                    <div id="collapseAlbum" class="collapse show" aria-labelledby="headingAlbum" data-parent="#accordion">
                        <div class="card-body">
                            <div class="responsive-card-deck">
                                @foreach (var album in Model.Albums)
                                {
                                    @await Html.PartialAsync("_AlbumCard", album)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        @if (Model.Artists != null && Model.Artists.Any())
        {
            ViewData["IsAllEmpty"] = false;
            <section id="artists">
                <div class="card">
                    <div class="card-header" id="headingArtists">
                        <h3 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseArtists"
                            aria-expanded="true" aria-controls="collapseArtists">
                                <h3><i class="fas fa-user"></i> Artists</h3>
                            </button>
                        </h3>
                    </div>
                    <div id="collapseArtists" class="collapse show" aria-labelledby="headingArtists"
                    data-parent="#accordion">
                        <div class="card-body">
                            <div class="responsive-card-deck">
                                @foreach (var artist in Model.Artists)
                                {
                                    @await Html.PartialAsync("_ArtistCard", artist)

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        @if (Model.Genres != null && Model.Genres.Any())
        {
            ViewData["IsAllEmpty"] = false;
            <section id="genres">
                <div class="card">
                    <div class="card-header" id="headingGenres">
                        <h3 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseGenres"
                            aria-expanded="true" aria-controls="collapseGenres">
                                <h3><i class="fas fa-tags"></i> Genres</h3>
                            </button>
                        </h3>
                    </div>
                    <div id="collapseGenres" class="collapse show" aria-labelledby="headingGenres" data-parent="#accordion">
                        <div class="card-body">
                            @foreach (var genre in Model.Genres)
                            {
                                <span class="m-1">
                                    <a asp-controller="Search" asp-action="SearchByGenre"
                                asp-route-genreName="@genre.Name">@genre.Name</a>
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </section>
        }
        @if (Model.MusicsByLanguage != null && Model.MusicsByLanguage.Any())
        {
            ViewData["IsAllEmpty"] = false;
            <section id="musicsByLanguage">
                <div class="card">
                    <div class="card-header" id="headingMusicByLanguage">
                        <h3 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMusicByLanguage"
                            aria-expanded="true" aria-controls="collapseMusicByLanguage">
                                <h3><i class="fas fa-language"></i> Musics By Language</h3>
                            </button>
                        </h3>
                    </div>
                    <div id="collapseMusicByLanguage" class="collapse show" aria-labelledby="headingMusicByLanguage"
                         data-parent="#accordion">
                        @foreach (var sets in Model.MusicsByLanguage)
                        {
                            <h5 class="m-2">@sets.Key</h5>
                            <hr />
                            @foreach (var music in sets.Value)
                            {
                                <p class="m-2">
                                    <a asp-controller="Music" asp-action="Detail" asp-route-id="@music.Id">
                                        @music.Name
                                    </a>
                                </p>
                            }
                        }
                    </div>
                </div>
            </section>
        }
    </div>
    @* If all empty *@
    @if ((bool)ViewData["IsAllEmpty"])
    {
        <p class="text-center display-4">Nothing found for @Model.QueryString .</p>
    }
</section>
