@model OnlineMusicStore.Models.Music
@{
    ViewData["Title"] = "Music";
}

<section>
    <h1 class="display-4">Music Details</h1>
    <h2 class="display-3">@Model.Name</h2>
    <hr />
    <p>
        <span>Lanuage: @Model.Language</span>
        <span>Date Released: @Model.DateReleased</span>
        <span>Date Added: @Model.DateAdded</span>
        <span>Genre: @Model.Genre.Name</span>
        <span>Album: @Model.Album?.Name</span>
        <span>Artists:
            @foreach (var artist in Model.Artists)
            {
                <span>@artist.Name</span>
                <br />
            }
        </span>
    </p>
    <p>
        @if (Model.IsRecentlyAdded())
        {
            <span>Recently Added</span>
        }
        @if (Model.IsRecentlyReleased())
        {
            <span>Recently Released</span>
        }
    </p>
</section>
