@model IEnumerable<OnlineMusicStore.Models.Music>
@{
    ViewData["Title"] = "Music";
}
@* for data table plugin *@
<link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<section>
    <h1 class="display-4">Music</h1>
    @if (User.IsInRole(OnlineMusicStore.Models.UserRoles.AdminRole))
    {
        <p><a asp-controller="Music" asp-action="CreateNew">Add New Music</a></p>
    }
    @if (Model.Any())
    {
        <table class="table table-bordered" id="musicsTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var music in Model)
                {
                    <tr>
                        <td>@music.Name</td>
                        <td>
                            @if (User.IsInRole(OnlineMusicStore.Models.UserRoles.AdminRole))
                            {
                                <span>
                                    <a asp-controller="Music" asp-action="Detail" asp-route-id="@music.Id">Details</a> |
                                    <a asp-controller="Music" asp-action="Edit" asp-route-id="@music.Id">Edit</a> |
                                    <a asp-controller="Music" asp-action="Delete" asp-route-id="@music.Id">Delete</a>
                                </span>
                            }
                            else
                            {
                                <span><a asp-controller="Music" asp-action="Detail" asp-route-id="@music.Id">Details</a></span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-error">No musics available. Add a music to show.</p>
    }
</section>

@section Scripts {
@* for data table *@
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#musicsTable').DataTable();
    });
</script>
}